@import url('https://fonts.googleapis.com/css2?family=Vibes&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Aref+Ruqaa&display=swap");

html {
    background: url("./bg.jpg");
	background-size: cover;}

* {
	direction: rtl;
	box-sizing: border-box;
	font-family: "Aref Ruqaa", serif;
	padding: 0;
	margin: 0;
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0;
	padding-bottom: 100px;
}

h1 {
	color: rgb(213, 218, 218);
	text-align: center;
	font-weight: bold;
	font-size: 12vw;
	margin-top: 2rem;
	margin-bottom: 3rem;
    text-shadow: 10px 10px rgba(0, 0, 0, 0.753);
}

.countdown-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.countdown-container * {
	margin: 5px;
	color: black;
	background-color: rgb(145, 151, 170);
	border-radius: 10px;
}

.big-text {
	font-weight: bold;
	font-size: 6rem;
	line-height: 1;
	margin: 1rem 2rem;
}

.countdown-el {
	text-align: center;
	box-shadow: 0px 0px 20px 20px rgb(10, 4, 34);
}

.countdown-el span {
	font-size: 2.3rem;
}

.card {
	font-size: 8vw;
	background-color: rgba(2, 20, 54, 0.637);
	color: white;
	width: 45%;
	height: 200px;
	margin-top: 30px;
	border-radius: 12px;
	transition: 1s;
    padding: 5px;
	box-shadow: 0px 0px 10px 10px rgb(0, 0, 0);
	margin: 1%;

}

.open {
	position: relative;
    font-size: 3vw;
    height: auto;
}

.open img {
    height: 100%;
    top: 0;
}

img {
	position: relative;
	background-size: cover;
	width: 40%;
	height: 190px;
    border-radius: 12px;
}

.left {
    float: left;
}

.right {
    float: right;
    margin-left: 5px;
}

@media only screen and (max-width: 600px) {
	.card {
		width: 95%;
		font-size: 18vw;
		margin: 3%;
	}
    .open {
        font-size: 6vw;
    }
}

.inner {
    width: 100%;
    height: 40px;
    background: rgb(38, 2, 59);
	color: white;
    font-size: 20px;
    outline: none;
    border: none;
    border-radius: 12px;
	font-weight: bolder;
	box-shadow: 0px 0px 16px 16px rgb(255, 255, 255);
	margin-top: 20px;
}

.inner:hover {
	box-shadow: 0px 0px 16px 16px rgb(0, 0, 0)

}